<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.diagnostics>
    <sharedListeners>
      <add name="coloredconsole" type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics.ColoredConsoleTraceListener" template="[{Thread}] {EventType}: {Message}{Data}" convertWriteToEvent="true" />
      <!--loggingHub is the SignalR server where applications will write trace messages to.-->
      <!-- #ifdef _xml_preprocess -->
      <!-- <add name="hubListener" type="Fonlow.Diagnostics.HubTraceListener, Fonlow.HubTraceListener" template="{Message}{Data}" hubUrl="${HubUrl}"  apiUser="${ApiUser}" apiPassword="${ApiPassword}" instanceId="testListenerDemo"/> -->
      <!-- #else -->
      <add name="hubListener" type="Fonlow.Diagnostics.HubTraceListener, Fonlow.HubTraceListener" template="{Message}{Data}" hubUrl="https://localhost:44386" apiUser="anonymous" apiPassword="Aaaaaa*8" instanceId="testListenerDemo" />
      <!-- #endif -->
    </sharedListeners>
    <switches>
      <!-- You can set the level at which tracing is to occur. In production, Warning may be desired for TraceSource -->
      <add name="TraceLevelSwitch" value="Verbose" />
    </switches>
    <sources>
      <source name="myAppSource" switchValue="All">
        <listeners>
          <clear />
          <add name="hubListener" />
          <add name="coloredconsole" />
        </listeners>
      </source>

    </sources>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <clear />
        <add name="hubListener" />
        <add name="coloredconsole" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
